.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #fefefe;

    .modal-content {
        padding: 20px;
        width: 100%;
        height: 100dvh;
        animation: slide-in 0.5s;
    }

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;

        &:hover,
        &:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
    }

    @keyframes slide-in {
        from {
            margin-left: -80%;
        }
        to {
            margin-left: 0;
        }
    }
    @keyframes slide-out {
        from {
            margin-left: 0;
        }
        to {
            margin-left: -100%;
        }
    }
}

.accordion {
    width: 100%;
    margin: auto;
}

.accordion-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: transparent;
    color: var(--main-gray-dark, #1D1D1D);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 1px;
    cursor: pointer;
    svg {
        margin-top: 5px;
    }
}

.accordion-content {
    width: 100%;
    display: none;
}
.accordion-item.inactive .accordion-content {
    display: none !important;
}
.accordion-item.active .accordion-content {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 30px 0;
}

.accordion-item.active .accordion-header .icon {
    transform: rotate(180deg);
}