body{
  .cart{
    .qib-button-wrapper{
      position: relative;
      gap: 8px;
      margin: 0;
      float: unset;
      justify-content: flex-start;
      button{
        &.qib-button{
          background: unset;
          height: auto;
          border: 0;
          color: var(--main-gray-dark, #1D1D1D);
          font-family: 'Gotham-Book';
          font-size: 16px;
          font-style: normal;
          font-weight: 300;
          line-height: 24px;
          letter-spacing: 1px;
          cursor: pointer;
          -webkit-touch-callout: none;
          -webkit-user-select: none;
          -khtml-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          padding: 0;
          width: unset;
        }
      }
      .quantity{
        &.wqpmb_quantity{
          input{
            &.qty{
              border: 0;
              max-width: 60px;
              border: 0;
              color: var(--main-gray-dark, #1D1D1D);
              font-family: 'Gotham-Book';
              font-size: 16px;
              font-style: normal;
              font-weight: 300;
              line-height: 24px;
              letter-spacing: 1px;
              pointer-events: none;
              max-width: 30px;
              text-align: center;
              padding: 0;
            }
          }
        }
      }
    }
  }
}

input[type="text"],
input[type="email"],
textarea{
  border: solid var(--main-dark-coffee, #76563C);
  border-width: 0 0 1px;
  padding: 16px;
  color: var(--main-dark-coffee, #76563C);
  font-family: 'Gotham-Book';
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 1px;
  width: 100%;
  &::placeholder{
    color: var(--main-dark-coffee, #76563C);
  }
}

.form__send{
  input{
    padding: 12px 32px;
    border-radius: 4px;
    background: var(--main-dark-coffee, #76563C);
    color: var(--main-white, #FFF);
    font-family: 'Gotham-Book';
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: 22px;
    letter-spacing: 1px;
    text-align: center;
    justify-content: center;
    border: 0;
    width: 100%;
  }
}