.swiper, .featured-swiper {
    width: 100vw;
    // height: 300px;
    position: relative;
    overflow: hidden;
}

.main-swiper{
    .swiper-wrapper{
        .swiper-slide{
            .container{
                position: relative;
                z-index: 2;
                padding: 24px;
                @include mq(lapS2){
                    padding: 0 44px 0 80px;
                    display: grid;
                    grid-template-columns: 1fr 1.4fr;
                    gap: 110px;
                    position: unset;
                }
                &::before{
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 55%;
                    top: 0;
                    left: 0;
                    z-index: 1;
                    background: linear-gradient(180deg, #1D1D1D 0%, rgba(29, 29, 29, 0.00) 100%);
                }
                &::after{
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 70%;
                    bottom: 0;
                    left: 0;
                    z-index: 1;
                    background: linear-gradient(0deg, #1D1D1D 0%, rgba(29, 29, 29, 0.00) 100%);
                }
            }
            &__wrapper{
                position: relative;
                background-size: cover;
                background-position: center 70%;
                &::before{
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    z-index: 0;
                    backdrop-filter: blur(20px);
                }
                &__image{
                    z-index: 0;
                    img{
                        border-radius: 12px;
                        max-height: 500px;
                        width: 100%;
                        object-fit: cover;
                        @include mq(lapS2){
                            max-height: 665px;
                        }
                    }
                }
                &__texts{
                    position: absolute;
                    z-index: 2;
                    bottom: 88px;
                    left: 40px;
                    right: 40px;
                    @include mq(lapS2){
                        position: relative;
                        bottom: unset;
                        left: unset;
                        right: unset;
                        order: -1;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;
                        padding-bottom: 120px;             
                    }
                    .title{
                        color: var(--main-coffee-light, #F8EFEE);
                        text-align: center;
                        /* Desktop/Heading/Mobile/H1 */
                        font-family: Garamond;
                        font-size: 42px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 50px; /* 119.048% */
                        letter-spacing: 1px;
                        margin-bottom: 16px;
                        @include mq(lapS2){
                            text-align: left;
                            font-size: 64px;
                            line-height: 68px; /* 106.25% */
                        }
                    }
                    .description{
                        color: var(--main-coffee-light, #F8EFEE);
                        text-align: center;
                        /* Text/400/Small */
                        font-family: "Gotham-book";
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: 22px; /* 157.143% */
                        letter-spacing: 1px;
                        margin-bottom: 32px;
                        @include mq(lapS2){
                            text-align: left;
                            font-size: 16px;
                            line-height: 24px;
                            margin-bottom: 40px;
                        }
                    }
                    .button{
                        color: var(--main-white, #FFF);
                        font-family: "Gotham-book";
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 22px;
                        letter-spacing: 1px;
                        border-radius: 4px;
                        background: var(--main-coffee, #AA8364);
                        padding: 12px 32px;
                        border: 0;
                        width: 100%;
                        cursor: pointer;
                        justify-content: center;
                        @include mq(lapS2){
                            width: fit-content;
                        }
                    }
                }
            }
        }
    }
    .scroll-bar{
        position: absolute;
        bottom: 50px;
        left: 40px;
        right: 40px;
        display: flex;
        align-items: center;
        gap: 8px;
        @include mq(lapS2){
            right: 80px;
            bottom: 72px;
            left: 70%;
        }
        & > * {
            position: relative;
        }
        .swiper-button-prev,
        .swiper-button-next{
            color: var(--main-coffee-light, #F8EFEE);
            top: unset;
            left: unset;
            right: unset;
            bottom: unset;
            min-width: 12px;
            min-height: 12px;
            max-width: 12px;
            max-height: 12px;
            margin: 0;
            &::after{
                font-size: 12px;
            }
        }
        .swiper-scrollbar{
            background-color: var(--main-coffee-light, #F8EFEE);
            height: 1px;
            margin: 0;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            .swiper-scrollbar-drag{
                background-color: var(--main-coffee-light, #F8EFEE);
                margin-top: -2px;
                height: 2px;
            }
        }
        .counter{
            color: var(--main-coffee-light, #F8EFEE);
            font-family: "Gotham-book";
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 1px;
            z-index: 2;
        }
    }
}

.pride-swiper{
    overflow: hidden;
    margin-bottom: 32px;
    @include mq(lapS2){
        margin-bottom: 60px;
    }
    .swiper-wrapper{
        .swiper-slide{
            width: fit-content;
            overflow: hidden;
            img{
                width: 100%;
            }
            &:first-child{
                border-radius: 10px 0 0 10px;
            }
            &:last-child{
                border-radius: 0 10px 10px 0;
            }
        }
    }
}