.cart-title{
    margin: 8px 0 40px;
    h1{
        color: var(--main-dark-coffee, #76563C);
        font-family: "Garamond", sans-serif;
        font-size: 38px;
        font-style: normal;
        font-weight: 400;
        line-height: 42px;
        letter-spacing: 1px;
        @include mq(lapS2){
            font-size: 64px;
            line-height: 68px;
        }
    }
}

.cart{
    margin: 0;
    .container{
        display: grid;
        @include mq(lapS2){
            grid-template-columns: 2.5fr 1fr;
            gap: 136px;
        }
    }
    &__products{
        margin-bottom: 40px;
        @include mq(lapS2){
            margin-bottom: 120px;
        }
        .woocommerce-cart-form{
            display: grid;
            gap: 32px;
            margin-bottom: 40px;
        }
        .update-cart{
            display: none;
        }
        &__item{
            display: flex;
            position: relative;
            padding-bottom: 32px;
            border-bottom: 1px solid var(--main-coffee, #AA8364);
            &:nth-last-child(2){
                border: 0;
            }
            .wrapper{
                display: grid;
                grid-template-columns: 0.6fr 1.2fr;
                padding-right: 40px;
                gap: 28px;
                .product-thumbnail{
                    img{
                        width: 100%;
                        height: auto;
                        object-fit: contain;
                    }
                }
                &__container{
                    .product-name{
                        .title{
                            color: var(--main-dark-coffee, #76563C);
                            font-family: "Garamond", sans-serif;
                            font-size: 24px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 32px;
                            letter-spacing: 1px;
                            margin-bottom: 16px;
                            @include mq(lapS2){
                                font-size: 26px;
                                line-height: 34px;
                            }
                        }
                        .info{
                            color: var(--main-gray-dark, #1D1D1D);
                            font-family: "Gotham Light", sans-serif;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 300;
                            line-height: 24px;
                            letter-spacing: 1px;
                            margin-bottom: 16px;
                        }
                    }
                    .product-quantity{
                        margin-bottom: 16px;
                    }
                    .product-remove{
                        a{
                            color: var(--main-gray-dark, #1D1D1D);
                            font-family: "Gotham Medium", sans-serif;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 900;
                            line-height: 24px;
                            letter-spacing: 1px;
                            text-decoration-line: underline;
                        }
                    }
                }
            }
            .product-subtotal{
                position: absolute;
                top: 0;
                right: 0;
                color: var(--main-gray-dark, #1D1D1D);
                font-family: "Gotham Bold", sans-serif;
                font-size: 14px;
                line-height: 22px;
                font-style: normal;
                font-weight: 800;
                letter-spacing: 1px;
                @include mq(lapS2){
                    font-size: 16px;
                    line-height: 24px;
                }
            }
        }
        &__paymethods{
            padding: 32px;
            border: 1px solid var(--main-coffee, #AA8364);
            display: grid;
            gap: 16px;
            .methods{
                display: flex;
                flex-wrap: wrap;
                gap: 4px;
                img{
                    max-width: 40px;
                    object-fit: contain;
                }
            }
            &--title{
                color: var(--main-gray-dark, #1D1D1D);
                font-family: "Gotham Medium", sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 800;
                line-height: 24px;
                letter-spacing: 1px;
            }
            &--description{
                color: var(--main-gray-dark, #1D1D1D);
                font-family: "Gotham Light", sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 300;
                line-height: 24px; /* 150% */
                letter-spacing: 1px;
            }
        }
    }
    &__info{
        &__title{
            color: var(--main-dark-coffee, #76563C);
            font-family: "Garamond", sans-serif;
            font-size: 30px;
            font-style: normal;
            font-weight: 400;
            line-height: 38px;
            letter-spacing: 1px;
            padding-bottom: 18px;
            border-bottom: 1px solid var(--main-coffee, #AA8364);
            margin-bottom: 32px;
        }
        .cart_totals{
            .cart-subtotal{
                display: flex;
                justify-content: space-between;
                color: var(--main-dark-coffee, #76563C);
                font-family: "Gotham Medium", sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 800;
                line-height: 24px; /* 150% */
                letter-spacing: 1px;
                margin-bottom: 12px;
                span{
                    color: var(--main-gray-dark, #1D1D1D);
                    font-family: "Gotham Light", sans-serif;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 24px;
                    letter-spacing: 1px;
                }
            }
            .coupon{
                border: solid var(--main-coffee, #AA8364);
                border-width: 1px 0;
                margin: 24px 0 16px;
                &__wrapper{
                    &__title{
                        padding: 24px 0;
                        position: relative;
                        cursor: pointer;
                        &::before{
                            content: '';
                            width: 12px;
                            height: 12px;
                            border: solid var(--main-dark-coffee, #76563C);
                            border-width: 0 2px 2px 0;
                            position: absolute;
                            top: 50%;
                            right: 12px;
                            transform: rotate(45deg) translateY(-55%);
                            transform-origin: center;
                        }
                        label{
                            color: var(--main-dark-coffee, #76563C);
                            font-family: "Gotham Medium", sans-serif;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 800;
                            line-height: 24px;
                            letter-spacing: 1px;
                        }
                    }
                    &__box{
                        max-height: 0;
                        overflow: hidden;
                        transition: all 300ms ease-in-out;
                        input{
                            margin-bottom: 24px;
                        }
                        button{
                            margin-bottom: 24px;
                            padding: 14px 32px 8px;;
                            border-radius: 4px;
                            background: var(--main-dark-coffee, #76563C);
                            color: var(--main-white, #FFF);
                            font-family: "Gotham Medium", sans-serif;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 800;
                            line-height: 22px;
                            letter-spacing: 1px;
                            text-align: center;
                            justify-content: center;
                            border: 0;
                            width: 100%;
                        }
                    }
                    &.active{
                        .coupon__wrapper__box{
                            max-height: 300px;
                        }
                    }
                }
            }
            .order-total{
                display: flex;
                justify-content: space-between;
                color: var(--main-dark-coffee, #76563C);
                font-family: "Gotham Medium", sans-serif;
                font-size: 20px;
                font-style: normal;
                font-weight: 800;
                line-height: 28px;
                letter-spacing: 1px;
                margin-bottom: 32px;
            }
            .wc-proceed-to-checkout{
                width: 100%;
                a{
                    width: 100%;
                    padding: 14px 32px 8px;;
                    border-radius: 4px;
                    background: var(--main-dark-coffee, #76563C);
                    color: var(--main-white, #FFF);
                    font-family: "Gotham Medium", sans-serif;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 800;
                    line-height: 22px;
                    letter-spacing: 1px;
                    text-align: center;
                    justify-content: center;
                }
            }
        }
    }
}