
.projectBanner{
    display: flex;
    justify-content: center;
    &__imgContainer{
        &__img{
            aspect-ratio: 16/9;
            width: 100%;
        }
    }
}
.proyectInformation{
    margin: 64px 0;
    @include mq(lapS2) {
        margin: 96px 0;
    }
    .container{
        display: grid; 
        gap: 48px; 
        @include mq(lapS2) {
             grid-template-columns: 1fr 1fr;
            gap: 64px; }
        }

        &__description{
            color: var(--gris-400);
            @include body2();
        }

    &__title{
        text-align: left;
    }
    &__subtitle1{
        @include bodyBold();
        color: var(--azul-300);
    }
    &__subtitle2{
        @include body();
        color: var(--azul-300);
    }
}

.projectGalery {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    align-content: center;
    align-items: center;

    &__container {
        display: flex;
        grid-gap: 25px;
        flex-direction: column;
        @include mq(lapS2) {
            display: grid;
            flex-direction: row;
        }

        &:first-child {
            grid-template-columns: 40.6% 57.55%;
            .imgContainer:first-child {
                height: 238px;
                @include mq(lapS2) {
                    height: 390px;
                }
            }
            .imgContainer:nth-child(2){
                height: 168px;
                @include mq(lapS2) {
                    height: 390px;
                }
            }
        }

        &:nth-child(2) {
            grid-template-columns: 23.7% 74.6%;
            .imgContainer:first-child {
                height: 605px;
                @include mq(lapS2) {
                    height: 573px;
                }
            }
            .imgContainer:nth-child(2){
                height: 191px;
                @include mq(lapS2) {
                    height: 573px;
                }
            }

        }

    }

    .imgContainer {
        @include mq(lapS2) {
            text-align: right;
        }

        &__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
.related{
    margin: 120px 0px;
    @include mq(lapS2) {
        margin: 101px 0px;
    }
    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        @include mq(lapS2) {
            flex-direction: row;
        }
        .button{
            width: 100%;
            @include mq(lapS2) {
                width: auto;
            }
        }
    }
    &__title{
        @include headline3mobile();
        color: var(--azul-300);
        margin-bottom: 24px;
        @include mq(lapS2) {
            flex-direction: row;
            margin-bottom: 0;
            @include headline2();
        }
    }
    &__wrapper{
        margin-top: 40px;
        display: grid;
        gap: 16px;
        grid-template-columns: 1fr 1fr;
        @include mq(lapS2) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 24px;
    }
        .product-card{
            &__title{
                @include bodyBold();
            }
        }
    }

}

.related-slider{
    margin-bottom: 188px;
    @include mq(lapS2) {
        margin-bottom: 164px;
    }
    &__header{
        margin-bottom: 40px;
        &__title{
            @include headline3();
            color: var(--azul-300);
        }
    }
    &__slider{
        .project-card{
            &__wrapper{
                display: flex;
                flex-direction: column;
            }
            &__image{
                @include mq(lapS2) {
                 min-height: 186px;
                }
            }
            &__title{
                @include bodyBold();
            }
        }

    }
    .sliderButton.swiper-button-disabled{
        display: none !important;
    }
    .related-swiper {
    position: relative; 
    }
    
    #related_slider_prev,
    #related_slider_next {
        display: none;
        @include mq(lapS2) {
            z-index: 9;
            position: absolute; 
            top: 50%;
            transform: translateY(-50%);
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }

    }
    
    #related_slider_prev {
      left: 0; 
    }
    
    #related_slider_next {
      right: 0; 
    }
    .sliderButton {
        width: 72px;
        height: 72px;
    }
    .sliderButton::before {
        content: '';
        background-image: url(../images/dark_blue_arrow.svg);
        width: 100%;
        height: 100%;
    }
    .sliderButton::after {
        width: auto;
        height: auto;}
}
