.header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background: rgba(118, 86, 60, 0);
    box-shadow: 0px 14px 17px 0px rgba(0, 0, 0, 0);
    transition: all 300ms ease-in-out;
    &__content{
        .menu{
            display: flex;
            gap: 10px;
            align-items: center;
            justify-content: space-between;
            padding: 16px 0;
            &__logo{
                a{
                    display: flex;
                    width: 62px;
                    @include mq(lapS2){
                        width: 70px;
                    }
                }
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            &__wrapper{
                position: fixed;
                top: 66px;
                left: 100%;
                width: 100vw;
                height: calc(100vh - 66px);
                background-color: var(--main-coffee-dim, #FFF9F9);
                transition: all 300ms ease-in-out;
                @include mq(lapS2){
                    position: relative;
                    background-color: transparent;
                    top: unset;
                    left: unset;
                    height: auto;
                }
                &__items{
                    ul{
                        @include mq(lapS2){
                            display: flex;
                            justify-content: center;
                            gap: 8px 60px;
                            flex-wrap: wrap;
                        }
                    }
                    .menu-item{
                        a{
                            width: auto;
                            display: block;
                            padding: 32px 0;
                            margin: 0 16px;
                            border-bottom: 1px solid var(--main-coffee, #AA8364);
                            position: relative;

                            color: var(--main-gray-dark, #1D1D1D);
                            /* Text/600/Large */
                            font-family: "Gotham";
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 24px;
                            letter-spacing: 1px;
                            @include mq(lapS2){
                                color: var(--main-coffee-light, #F8EFEE);
                                border: 0;
                                padding: 0;
                                font-size: 14px;
                                line-height: 22px;
                                margin: 0;
                            }
                            &::before{
                                content: '';
                                background-image: url('../images/arrow.svg');
                                display: block;
                                position: absolute;
                                top: 50%;
                                right: 0;
                                transform: translateY(-50%);
                                width: 20px;
                                height: 13px;
                                @include mq(lapS2){
                                    display: none;
                                }
                            }
                        }
                    }
                    .menu-icon{
                        @include mq(lapS2){
                            display: none;
                        }
                        .icon{
                            padding: 32px 0;
                            margin: 0 16px;
                            border-bottom: 1px solid var(--main-coffee, #AA8364);
                            display: flex;
                            align-items: center;
                            gap: 8px;
                            cursor: pointer;
                            img{
                                filter: brightness(0) saturate(100%) invert(29%) sepia(61%) saturate(338%) hue-rotate(345deg) brightness(101%) contrast(85%) opacity(1);
                            }
                            p{
                                color: var(--main-gray-dark, #1D1D1D);
                                /* Text/600/Large */
                                font-family: "Gotham";
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 700;
                                line-height: 24px;
                                letter-spacing: 1px;
                            }
                        }
                    }
                }
            }
            &__icons{
                display: flex;
                gap: 22px;
                align-items: center;
                #search_icon{
                    svg{
                        width: 28px;
                        height: 28px;
                    }
                }
                #user_icon{
                    display: none;
                    @include mq(lapS2){
                        display: flex;
                        align-items: center;
                    }
                }
                #cart_icon{
                    cursor: pointer;
                    opacity: 1;
                    transition: all 300ms ease-in-out;
                }
                .icon{
                    width: 28px;
                    height: 28px;
                    img{
                        width: 100%;
                        height: 100%;                    
                    }
                }
                .hamburguer{
                    position: relative;
                    width: 32px;
                    height: 22px;
                    @include mq(lapS2){
                        display: none;
                    }
                    &__bar{
                        position: absolute;
                        display: block;
                        background-color: var(--main-coffee-light, #F8EFEE);
                        width: 32px;
                        height: 2px;
                        top: 0;
                        right: 0;
                        transition: all 300ms ease-in-out;
                        &#second_bar{
                            width: 29px;
                            top: 50%;
                            transform: translateY(-50%);
                        }
                        &#third_bar{
                            width: 25px;
                            top: unset;
                            bottom: 0;
                        }
                    }
                }
            }
        }
    }
    &.scrolled{
        background: rgba(118, 86, 60, 0.75);
        box-shadow: 0px 14px 17px 0px rgba(0, 0, 0, 0.20);
    }
    &.open{
        background: var(--main-coffee-dim, #FFF9F9);
        box-shadow: unset;
        @include mq(lapS2){
            background: unset;
            box-shadow: unset;
            &.scrolled{
                background: rgba(118, 86, 60, 0.75);
                box-shadow: 0px 14px 17px 0px rgba(0, 0, 0, 0.20);
            }
        }
        .menu__logo{
            filter: brightness(0) saturate(100%) invert(29%) sepia(61%) saturate(338%) hue-rotate(345deg) brightness(101%) contrast(85%) opacity(1);
            @include mq(lapS2){
                filter: unset;
            }
        }
        .hamburguer{
            filter: brightness(0) saturate(100%) invert(29%) sepia(61%) saturate(338%) hue-rotate(345deg) brightness(101%) contrast(85%) opacity(1);
            @include mq(lapS2){
                filter: unset;
            }
            #first_bar{
                width: 100%;
                transform: rotate(45deg) translate(50%, -50%);
                transform-origin: center right;
                top: 50%;
                right: 50%;
            }
            #second_bar{
                width: 0;
                opacity: 0;
            }
            #third_bar{
                width: 100%;
                transform: rotate(-45deg) translate(50%, -50%);
                transform-origin: center right;
                top: 50%;
                right: 50%;
            }
        }
        #cart_icon,
        #search_icon{
            transition: all 0s;
            opacity: 0;
            pointer-events: none;
            @include mq(lapS2){
                opacity: 1;
                pointer-events: all;
            }
        }
        .menu__wrapper{
            left: 0%;
        }
    }
}
#side-cart {
    position: fixed;
    top: 0;
    right: -100%; /* Coloca el carrito fuera de la pantalla por defecto */
    width: 100%;
    height: 768px;
    flex-shrink: 0;
    height: 100%;
    background: #fff;
    z-index: 1000;
    overflow-y: auto;
    transition: right 0.3s;
    box-shadow: -1px 0 5px rgba(0, 0, 0, 0.2);
    @include mq(lapS2){
        width: 400px;
    }
}

#side-cart.open {
    right: 0; /* Muestra el carrito cuando está abierto */
}

.background-blur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
    filter: blur(5px); /* Aplica el desenfoque */
    z-index: 99; /* Asegura que esté sobre el contenido principal */
    display: none; /* Inicialmente oculto */
}
#side-cart {
    padding: 0 24px;
    .cart-header {
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 24px;
        position: sticky;
        top: 0;
        padding-top: 32px;
        z-index: 2;
        &__title {
            color: var(--main-dark-coffee, #76563C);
            font-family: Garamond;
            font-size: 26px;
            font-style: normal;
            font-weight: 400;
            line-height: 34px;
            letter-spacing: 1px;
        }
        #close-cart {
            cursor: pointer;
        }
    }
    .cart-body {
        &__product {
            display: grid;
            grid-template-columns: 0.6fr 1.2fr;
            gap: 28px;
            padding-bottom: 24px;
            margin-bottom: 24px;
            border-bottom: 1px solid var(--main-coffee, #AA8364);
            &:last-child{
                border-bottom: 0;
            }
            &__image {
                img {
                    height: auto;
                }
            }
            &__details {
                .title{
                    color: var(--main-dark-coffee, #76563C);
                    font-family: Garamond;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 32px;
                    letter-spacing: 1px;
                    margin-bottom: 16px;
                    @include mq(lapS2){
                        font-size: 26px;
                        line-height: 34px;
                    }
                }
                .info{
                    color: var(--main-gray-dark, #1D1D1D);
                    font-family: 'Gotham';
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 24px;
                    letter-spacing: 1px;
                    margin-bottom: 16px;
                }
                .amount {
                    color: var(--main-gray-dark, #1D1D1D);
                    /* Text/600/Small */
                    font-family: 'Gotham';
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 800;
                    line-height: 22px; /* 157.143% */
                    letter-spacing: 1px;
                }
                .remove_product {
                    color: var(--main-gray-dark, #1D1D1D);
    
                    /* Link/Large */
                    font-family: 'Gotham';
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 800;
                    line-height: 24px; /* 150% */
                    letter-spacing: 1px;
                    text-decoration-line: underline;
                }
            }
        }
    }
    .cart-footer {
        background-color: white;
        position: sticky;
        bottom: 0px;
        padding-bottom: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 2;
        &__show-cart {
            width: 100%;
            justify-content: center;
            color: var(--main-coffee-light, #F8EFEE);
            /* Text/600/Small */
            font-family: 'Gotham';
            font-size: 14px;
            font-style: normal;
            font-weight: 800;
            line-height: 22px; /* 157.143% */
            letter-spacing: 1px;
            border-radius: 4px;
            background: var(--main-dark-coffee, #76563C);
        }
        &__checkout {
            margin-top: 12px;
            width: 100%;
            justify-content: center;
            color: var(--main-coffee, #AA8364);
            /* Text/600/Small */
            font-family: 'Gotham';
            font-size: 14px;
            font-style: normal;
            font-weight: 800;
            line-height: 22px; /* 157.143% */
            letter-spacing: 1px;
            border-radius: 4px;
            border: 1px solid var(--main-coffee, #AA8364);
        }
    }
}